{{ define "title" }}Account{{ end }}

{{ define "main" }}
  <h2>Account</h2>
  {{ with .User }}
    <table>
      <tr>
        <td>Name</td>
        <td>{{ .Name }}</td>
      </tr>
      <tr>
        <td>Email</td>
        <td>{{ .Email }}</td>
      </tr>
      <tr>
        <td>Joined</td>
        <td>{{ .Created | humanDate }}</td>
      </tr>
    </table>
  {{ end }}
  <div class="center-link">
    <a href="/password/update">Change password</a>
  </div>
{{ end }}
